@media (min-width: $breakpoint-desktopAndLaptops) {
    .navbar{
        background-color: #DDDDDF;
        .navbar-toggle{
            display: none;
        }
        .main-nav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            li {
                float: left;
                content: ".";
                box-shadow: 7px 0px 2px -6px #A6A6A8;

                a{
                    display: block;
                    color: black;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    &:hover{
                        background-color: #666;
                    }
                    span{
                        border-left: 6px solid green;
                    }
                }
            }
        }
    }  
    #firstDivs,#seventhDiv{
        height: 43.5%;
        width: 15%;
        float: $left;
        margin:$boxesMarginDesktop;
        background-color: $black;
    }
    #secondDivs, #thirdDivs,#fifthDiv,#sixthDiv,#eightDiv,#ninethDiv{
        height: 21%;
        width: 38%;
        float: $left;
        margin: $boxesMarginDesktop;
    }
    #fourthDiv{
        height: 21%;
        width: 20%;
        float:$right;
        margin:$boxesMarginDesktop;
    }
    #div3,#div6,#div10,#div11,#div15,#div17{
        background-color: $red;
        width: 48%;
        height: 99%;
        float: $left;
    }
    #div4,#div5,#div9,#div12,#div16,#div18{
        float: $left;
        background-color: $blueish;
        width: 52%;
        height: 100%;
    }
    #div5,#div9,#div14{
        background-color:$blue;
    }
    #div6,#div9,#div12,#div15,#div17{
        float:$right;
    }
    #div8{
        background-color: $lightBlue;
        width: 100%;
        height: 100%;
    }
    #div12{
        background-color: $blueish;
    }
    #div13{
        height: 48%;
        background-color: $red;
    }
    #div14{
        height: 52%;
    }
    #div18{
        background-color: $lightBlue;
    }
    #seventhDiv{
        float: $right;
        margin: $boxesMargin;
    }
    #textDiv{
        //threeInABox boxesMargin left
        height: 21%;
        width: 56%;
        background-image: url('../images/Text.png');
        background-repeat:repeat-x;
        background-position-y: center;
        margin: $boxesMargin;
        float: $left;
    }
}