/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@import './Variables.scss';

@media (min-width: 0px) and (max-width: 480px) {
  
    .navbar{
        background-color: #fff;
        .navbar-toggle {
            cursor: pointer; 
            color:#2C2B32;
            font-size: 20px;
            margin: 10px;
        }
        .main-nav {
            list-style-type: none;
            display: none;
            padding: 0px;
            li {
                content: ".";
                border-bottom:1px solid grey;
                border-top:1px solid grey;
                display: flex;
                flex-direction: column;
                a{
                    color: black;
                    padding: 18px;;
                    text-decoration: none;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    &:hover{
                        background-color: #676;
                    }
                }
            }
        }
        .active {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            margin: 0;
            background-color:rgba(221,221,223,0.9);
        }
    } 
    .activeNavbar{
        background-color: rgba(221,221,223,0.9);
    }
    #firstDivs{
        height: 18%;
        margin:$boxesMarginMobile;
        #div1{
            background-color: $red;
            height: 60%;
        }
        #div2{
            background-color: $black;
            height: 40%;
        }
    }
    #secondDivs,#thirdDivs,#textDiv,#fourthDiv,#fifthDiv,#sixthDiv,#seventhDiv,#eightDiv{
        height: 8.7%;
        margin:$boxesMarginMobile;
        #div3,#div5,#text1,#div7,#div9,#div11,#div13,#div15{
            float: $left;
            width: 50%;
            height: 100%;
        }
        #div4,#div5,#text1,#div8,#div10,#div11,#div13,#div16{
            background-color: $red;
            height: 100%;
        }
        #div6,#div7,#div12{
            background-color: $blue;
            height: 100%;
        }
        #text2,#div15{
            background-color: $lightBlue;
            height: 100%;
        }
        #div14,#div3,#div9{
            background-color: $blueish;
            height: 100%;
        }
    }
}