
$breakpoint-desktopAndLaptops: 1025px;
$breakpoint-tablets: 1025px;
$black:black;
$red:#FE0000;
$blue:#1A257A;
$lightBlue:#62C2C9;
$blueish:#0C62B4;
$right:right;
$left:left;
$boxesMarginDesktop:0% 1% 1% 2%;
$boxesMargin:0% 1% 2% 1%;
$boxesMarginMobile:0% 2% 5% 2%;